@model CentePreNat.Models.TblInfoprenatal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblInfoprenatal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreNumeroEmbarazo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreNumeroEmbarazo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreEstadoEmocional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreEstadoEmocional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreSaludMental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreSaludMental)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreComplicaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreComplicaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrePlanificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrePlanificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreAborto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreAborto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreMotivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreMotivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreHistorialClinicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreHistorialClinicoNavigation.PacHistorialClinico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PreIdInfo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
