@model IEnumerable<CentePreNat.Models.TblPaciente>

@{
    ViewData["Title"] = "Paciente";
}
<div class="white-box ">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                   
                    <a asp-action="Create" asp-controller="TblPacientes" class="btn btn-warning"><i class="fa fas fa-plus"></i> Ingresar Paciente</a>
          
                    </div>
                </div><br>
            </div>
            

            <div id="verListPacientes">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert-infoA">
                            Listado Pacientes
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <form id="frmBusquedaPaciente">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Buscar Paciente" autocomplete="off" onkeydown="Mayusculas(this)">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive m-t-10">

                        <table class="table color-bordered-table info-bordered-table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacHistorialClinico)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacApellidos)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacGenero)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacEdad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacFnacimiento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacDireccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacTelefono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacInstruccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacInstitucion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacFinformacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PacFentregainforme)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacHistorialClinico)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacApellidos)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacGenero)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacEdad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacFnacimiento)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacDireccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacTelefono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacInstruccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacInstitucion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacFinformacion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PacFentregainforme)
                                        </td>
                                        <td>
                                            <a asp-action="ProfilePaciente" asp-controller="TblPacientes" asp-route-id="@item.PacHistorialClinico">Ver Detalles</a>
                                           @* @*<button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5" data-toggle="tooltip" title="Editar" <i class="ti-pencil-alt"></i> </button>
                                            <a asp-action="Edit" asp-route-id="@item.PacHistorialClinico" >Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.PacHistorialClinico">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.PacHistorialClinico">Delete</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
</div>

