@model CentePreNat.Models.TblFamiliare

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblFamiliare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamParentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamParentesco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamProfesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamProfesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamHistorialClinicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamHistorialClinicoNavigation.PacHistorialClinico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FamIdFamiliar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
